@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.2.1.js"></script>

@Html.Hidden("goURL", @Url.Action("ChangeText", "Home"), new { id = "goURL" })
@Html.Hidden("goURL2", @Url.Action("ChangeText2", "Home"), new { id = "goURL2" })

<div id="reloadedDiv">
    @Html.Partial("Test")
</div>

<div id="reloadedDiv2">
    @Html.Partial("Test2")
</div>

<script>

    //WONT REFRESH
    $('#btnTestLostDOM').on('click', function () {
        $.ajax({
            url: $('#goURL').val(),
            async: false,
            success: function (data) {
                $("#reloadedDiv").empty().html(data);
                $('#txtLostDom').focus(); //doesn't work because DOM is now disconnected from elements in partial'
            }
        })
    });

    // will only get hit prior to click the 'btnTestLostDOM' button
    $('#txtLostDom').on('focus input change', function () {
        debugger;
        $('#lblLostDom').text($('#txtLostDom').val());
    });

   
    // REFRESHES
    $(document).on('click', '#btnTestRefresh', function () {
        $.ajax({
            url: $('#goURL2').val(),
            async: false,
            success: function (data) {
                $("#reloadedDiv2").empty().html(data);
                $('#txtRefresh').focus(); // works; can find DOM elements for events
            }
        });
    });

    // continues to work per click
    $(document).on('focus input change', '#txtRefresh', function () {
        debugger;
        $('#lblRefresh').text($('#txtRefresh').val());
    });


</script>
